@import "../fontawesome-free-5.14.0-web/css/all.css";
@import "bootstrap.min.css";
@import "variables";
@import "typography";
@import "backgrounds";
@import "buttons";
@import "mixins";
@import "navbars";
@import "text";

.form-group input {
  width: 100%;
  background: transparent;
  padding: 8px 10px;
  margin-bottom: 20px;
  color: $gray-color;
  border-radius: 0px;
  border: 1px solid $gray-color;
}

.form-group textarea {
  border: 1px solid $gray-color;
}