@import "../fontawesome-free-5.14.0-web/css/all.css";
@import "bootstrap.min.css";
@import "variables";
@import "typography";
@import "backgrounds";
@import "buttons";
@import "mixins";
@import "navbars";
@import "text";

.main-section {
  background-image: url("../images/main_picture.png");
  background-repeat: no-repeat;
  padding: 150px 0px;
  @include max-screen($lg-screen) {
    padding: 87px 0px 120px;
  }
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.products-section {
  a {
    color: $black-color;
    &:hover {
      color: $gray-light-color;
    }
  }
}

.card {
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.card:hover {
  background: $blue-color
}


.form-group input {
  width: 100%;
  background: transparent;
  padding: 8px 10px;
  margin-bottom: 20px;
  border-radius: 0px;
}

.map-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

header .contact-group li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 24px;
  @include max-screen($md-screen){
    padding-bottom: 20px;
  }
}

.delivery-schedule-section .card-text {
  color: $gray-color;
}

.delivery-schedule-section .card-text:hover, .card-text:focus, .card-text:active {
  color: $white-color;
}

footer {
  a {
    color: $white-color;
    text-decoration: none;
    &:focus, &:hover {
      text-decoration: none;
      color: $blue-light-color;
    }
  }

  .line-lg {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $white-color;
    bottom: -20px;
    left: 0;
  }
}

.slideExpandUp{
  animation-name: slideExpandUp;
  -webkit-animation-name: slideExpandUp;

  animation-duration: 5s;
  -webkit-animation-duration: 5s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideExpandUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
