$font-family-primary: 'OpenSans-Regular', sans-serif;
$font-family-secondary: 'OpenSans-Semibold', sans-serif;
$font-family-bold: 'OpenSans-Bold', sans-serif;

$white-color: #ffffff;
$blue-light-color: #ADC4D6;
$blue-color: #468FBC;
$gray-light-color: #797373;
$gray-color: #4F5457;
$black-color: #0A1B24;

$xss-screen: 320px;
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$font-size-xs: 16px;
$font-size-sm: 21px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 50px;